#span1 {
    color: blue;
}

#span2 {
    color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
:root {
  --primary-color: #3f65f0; 
  --secondary-color: #ffffff; 
  --loader-color: rgb(9, 2, 32);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 6%;
}
.logo {
  font-size: 40px;
  font-weight: 500;
}
.logo span {
  color: var(--primary-color);
}

ul {
  display: flex;
}

ul li {
  padding: 8px 12px;
  list-style: none;
}
ul li a {
  color: var(--loader-color);
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s;
}
ul li a:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

ul li:last-child a:hover{
  color: var(--primary-color);
  border-bottom: none;
}

nav button {
  background: var(--primary-color);
  padding: 8px 12px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  color: var(--secondary-color);
  cursor: pointer;
}

nav button:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.text {
  padding: 80px 80px;
}
.text h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 50px;
}
.text span,
.argument {
  color: var(--primary-color);
}
.text p {
  max-width: 45%;
  margin: 20px 0;
}
.btn {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 30px 45px;
  display: flex;
  margin-top: 45px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  letter-spacing: 5px;
}
.border-blue0 {
  position: fixed;
  background: var(--primary-color);
  bottom: 0;
  right: 0;
  width: 5%;
  height: 100%;
}
.border-blue1 {
  position: fixed;
  background: var(--primary-color);
  bottom: 0px;
  width: 5%;
  height: 100%;
}

#arc1 {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

#img1 {
  height: 300px;
}

#arc2 {
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

#img2 {
  height: 300px;
}

#arc3 {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

#img3 {
  height: 300px;
}

#arc4 {
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

#img4 {
  height: 300px;
}

#ar5 {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

#img5 {
  height: 300px;
}

#arc6 {
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

#img6 {
  height: 300px;
}

#arc7 {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

#img7 {
  height: 300px;
}
/* ---------------------------------------------------------------------- ANIMATIONS ---------------------------------------------------------------------------------------------/*

/* Rebond des points (chargement) */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* Animation de disparition (loader)*/
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* ------------------------------------------------------------------------ MEDIA QUERIES --------------------------------------------------------------------------------------*/

@media all and (max-width: 1024px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 5% 0;
  }

  ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: black;
    margin: 5px 0;
    border-top: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }

  ul li a {
    color: var(--secondary-color);
  }

  .logo {
    font-size: 30px;
  }

  .logo span,
  .active {
    color: var(--secondary-color);
  }

  .quarter-circle {
    display: none;
  }

  .right {
    width: 100%;
    text-align: center;
  }

  nav {
    text-align: center;

  }
  nav button {
    text-align: center;
    border: 2px solid var(--secondary-color);
    width: 160px;
    margin: 5px;
  }

  .text {
    padding: 5px;
  }
  .text h1 {
    font-size: 20px;
  }

  .text p {
    width: 90%;
    max-width: unset;
  }

  .btn {
    margin: auto;
  }
}