header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: blue;
}
header.span1 {
    background-color: white;
}

header.span2 {
    background-color: red;
}
#div1 {
    background-color: aqua;
}
#div2 {
    background-color: gray;
}
#div3 {
    background-color: green;
}
#div4 {
    background-color: orange;
}
#div5 {
    background-color: purple;
}
#div6 {
    background-color: brown;
}
#div7 {
    background-color: pink;
}